@using System.Globalization
@model OnlineShop.Models.Product

@{
    ViewData["Title"] = "Details";
}

 <div class="row pt-4">
        <div class="col-6">
            <h2>Product Details</h2>
		</div>
       <div class="col-6 text-end">
          @*  <a asp-controller="Product" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-success">
               <i class="bi bi-pencil-square"></i>&nbsp; Edit
			</a>*@
             <a asp-action="Index" class="btn btn-dark">Back to List</a>
		</div>
	</div>
    <hr />

<div class="row">
     <div class="col-sm-8">
         <dl class="row">
       
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.Id ,new { @class = "disabled"})
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.ListPrice)
        </dt>
        <dd class = "col-sm-8">
            Rs.@Html.DisplayFor(model => model.ListPrice)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-8">
            Rs.@Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.CreatedDateTime)
        </dt>
        <dd class = "col-sm-8">
             @{
                   string CreatedDate = Model.CreatedDateTime.ToString("dd-MMM-yyyy hh:mm tt", CultureInfo.InvariantCulture);
                }
            @Html.DisplayFor(model => CreatedDate)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.LastUpdateDate)
        </dt>
        <dd class = "col-sm-8">
             @{
                   string LastUpdateDate = Model.CreatedDateTime.ToString("dd-MMM-yyyy hh:mm tt", CultureInfo.InvariantCulture);
                }
            @Html.DisplayFor(model => LastUpdateDate)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.CategoryId)
        </dt>
        <dd class = "col-sm-8">
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
              @Html.DisplayFor(model => model.Category.Name)
            </div>
         @*<select asp-for="CategoryId" class="form-select" asp-items="@(new SelectList(ViewBag.Categories,"Id","Name"))"></select>*@
         <span asp-validation-for="CategoryId" class="text-danger"></span>
         </dd>
         <dd class = "col-sm-4">
         </dd>
         <dd class = "col-sm-8">
             <div class="btn-group-md">
                
                 <a class="btn btn-info" asp-action="Edit" asp-controller="Product" asp-route-id="@Model.Id"><i class="bi bi-pencil-square"></i> Edit</a>
                  <a class="btn btn-danger" asp-action="Delete" asp-controller="Product" asp-route-id="@Model.Id"><i class="bi bi-trash"></i>Delete</a>
             </div>
         </dd>
    </dl>
        </div >
        <div class="col-sm-4">
              <img src="@Model.ImageUrl" class="img-thumbnail" alt="...">
        </div>
    
    
</div>
