@using System.Globalization
@using Newtonsoft.Json
@model IEnumerable<OnlineShop.Models.Product>

@{
    ViewData["Title"] = "Index";
}

<div class="container ">
    <div class="row pt-4">
        <div class="col-6">
            <h2>Product List</h2>
		</div>
       <div class="col-6 text-end">
            <a asp-controller="Product" asp-action="Create" class="btn btn-success">
               <i class="bi bi-plus-circle"></i> &nbsp; Create New Product
			</a>
		</div>
	</div>
    <hr />
    
<table class="table" id="producttbl">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ListPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>            
           @* <th>
                @Html.DisplayNameFor(model => model.ImageUrl)
            </th>*@
           @* <th>
                @Html.DisplayNameFor(model => model.CreatedDateTime)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.LastUpdateDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category.Name)
            </th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                <a class="text-decoration-none" asp-action="Details" asp-controller="Product" asp-route-id="@item.Id">  @Html.DisplayFor(modelItem => item.Title)</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ListPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>           
          
            <td>
                @{
                        CultureInfo ci = CultureInfo.InvariantCulture;
                        string LastUpdate = item.LastUpdateDate.ToString("dd-MMM-yyyy hh:mm tt", ci);
                    }
                @Html.DisplayFor(modelItem => LastUpdate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.Name)
            </td>
            <td>
               @* @Html.ActionLink("Edit", "Edit", new {  id=item.Id  }) |
                @Html.ActionLink("Details", "Details", new {  id=item.Id  }) |
                @Html.ActionLink("Delete", "Delete", new {  id=item.Id  })*@

                <div class="btn-group" role="group" aria-label="Basic example">
                <a type="button" class="btn btn-info" asp-action="Edit" asp-controller="Product" asp-route-id="@item.Id" ><i class="bi bi-pencil-square"></i></a>
                 <a type="button" class="btn btn-dark" asp-action="Details" asp-controller="Product" asp-route-id="@item.Id"><i class="bi bi-card-text"></i></a>
                    <a type="button" class="btn btn-secondary" asp-action="Delete" asp-controller="Product" asp-route-id="@item.Id"><i class="bi bi-trash"></i></a>
                </div>
            </td>
        </tr>
}
    </tbody>

    
</table>
</div>
<script>
    $("#producttbl").DataTable();
</script>
