@model OnlineShop.Models.Product

@{
    ViewData["Title"] = "Details";
}

 <div class="row pt-4">
        <div class="col-6">
            <h2>@Model.Title</h2> <button class="btn btn-warning">@Model.Category.Name</button>
		</div>
       <div class="col-6 text-end">           
             <a asp-action="Index" class="btn btn-dark">Go to Home</a>
		</div>
	</div>
<div>
       <hr />   
       <div class="row">
           <div class="col-sm-8">
               <div class="row">
                   <div class="col-sm-4 p-2">
               <b>@Html.DisplayNameFor(model => model.Price)</b>
               </div>
               <div class="col-sm-8 p-2">
               	
					<b>	&#x20B9;@Model.Price &nbsp;</b><small style="font-size: 12px"><del >&#x20B9;@Model.ListPrice</del></small><span  style="font-size: 15px; color:#ff905a;">&nbsp;(@Model.DiscountPerc% off)</span>
						
               </div>
                <div class="col-sm-4 p-2">
                <b>@Html.DisplayNameFor(model => model.Description)</b>
                </div>
                <div class="col-sm-8 p-2">
                @Html.DisplayFor(model => model.Description)
                </div>
               
               </div>
           </div>

           <div class="col-sm-4">
               <img src="@Model.ImageUrl" class="img-thumbnail" alt="...">
           </div>          
           
       </div>

  @*  <dl class="row">


        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>      
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
						
						&#x20B9;@Model.Price &nbsp;<small style="font-size: 10px"><del style="color:red;">&#x20B9;@Model.ListPrice</del></small><span style="font-size: 15px">&nbsp;-@disPer%</span>
						
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImageUrl)
        </dt>
        <dd class = "col-sm-10">
          
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
                <img src="@Model.ImageUrl" class="img-thumbnail" alt="...">
            </div>
        </dd>       
    </dl>*@
</div>

