@using OnlineShop.Models
@model IEnumerable<Product>

@{
    ViewData["Title"] = "Products";
}
<div class="container">
    <div class="row pb-3">
		@if(Model.Count()!=0)
		{
			@foreach(var product in Model)
	{
		<div class="col-lg-3 col-md-6">
			<div class="row p-2">
				<div class="col-12 p-1" style="border:1px solid #008cba; border-radius: 5px;">
					<div class="card">
						<img src="@product.ImageUrl" class="card-img-top rounded"/>

						<div class="card-body">
						<div class="pl-1">
							<p class="card-title h6 text-primary">@product.Title</p>
							<p class="card-title text-info">Category | @product.Category.Name</p>
						</div>
						<div class="pl-1">
							@*<p>List Price: <strike><b>Rs @product.ListPrice</b></strike></p>*@
							@{int disPer=(int) (100 * ((product.ListPrice) - product.Price)/product.ListPrice);}
						<h6>Price : &#x20B9;@product.Price &nbsp;<small style="font-size: 10px"><del style="color:red;">&#x20B9;@product.ListPrice</del></small><span style="font-size: 15px">&nbsp;-@disPer%</span></h6>
						</div>
						@*<div class="pl-1">
							<p>Offer Price: <b>Rs @product.Price</b></p>
						</div>*@
						</div>
					</div>
					<div>
						<a asp-action="Details" class="btn btn-primary form-control" asp-route-id="@product.Id">
							Details
						</a>
					</div>
				</div> 
			</div>
		</div>
			}
		}
		else
		{
			<img src="/contents/images/no-records.png" class="img-fluid" alt="No Record Found">
		}

</div>
</div>
